:root {
  --na-blue: #494bb3;
  --na-darkgrey: #343a40;
  --na-grey: #808080;
  --na-lightgrey: #ffffff;
  --na-lightblue: #8dcfeb;
  --na-green: #40c95a;
  --na-yellow: #fecc59;
}
div {
  display: flex;
}

/* 큰 레이아웃 */
#left-container {
  float: left;
  width: 50px;
}
#right-container {
  float:left;
  width: calc(100% - 50px);
}
.na-container::after {
  content:'';
  display: block;
  clear: both;
}

/* Left side: menu */
#left-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: inherit;
  height: 100%;
  background-color: var(--na-blue);
  padding: 10px;
}
#left-navgit::after {
  content:'';
  display:block;
  clear: both;
}
.na-nav-item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
  justify-content: center;
  align-content: center;
  color: #fff;
  cursor: pointer;
}
.na-nav-item i {
  font-size: 1.5em;
  color: var(--bs-white);
}


/* Right Side: top menu, content */
#right-container {
  flex-direction: column;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  box-shadow: 1px -2px 4px 1px var(--na-grey);
}

#header div {
  display: flex;
}
#header nav {
  width: 100%;
  background-color: var(--bs-white);
} 
.na-navbar-container {
  width: 200px;
}
.na-navbar-container button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#navbarNav ul {
 flex-direction: row;
}
#header .na-nav-item {
  margin:0;
  padding: 5px;
}
#header .na-nav-item i {
  color: var(--na-grey);
}

/* content */
#content-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  padding: 2em;
}
#content-container h3 {
  margin: 5px 0 20px 0;
}
.top-contaniner {
  flex-direction: row;
  width: 100%;
}

.na-card {
  width: 100%;
  height: 150px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--bs-white);
  padding: 10px 25px;
  border-radius: 10px;
}
.na-bs-grey {
  box-shadow: 2px 2px 5px 1px var(--na-grey);
}

.bl-skyblue {
  border-left: 5px solid #88CEEB;
}
.bl-green {
  border-left: 5px solid #40C95A;
}
.bl-blue {
  border-left: 5px solid var(--na-blue);
}
.bl-yellow {
  border-left: 5px solid #FFCE5F;
}
.na-card .card-left{
  flex-direction: column;
  width: 70%;
}
.na-card .card-title, .na-card .card-sub-title{
  font-size: 1.5em;
  padding: 10px 0;
  margin:0;
}
.na-card .card-sub-title {
  font-weight: 700;
}
.card-right {
  width: 30%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.card-item {
  color: var(--na-grey);
  font-size: 3em;
}

