@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: "Open Sans", sans-serif;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 5vh 0;
}
section div {
  display: flex;
}
button{
  width : 130px !important;
  height: 45px !important;
  border: none !important;
}
button.btn-grey {
  background-color: #444445;
}

/* section1 */
#section1-overview {
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(#4997DC, #4E61C0);
  color: #fff;
  height: 60vh;
  padding-bottom: 0 !important;
}
#section1-overview .container {
  flex-direction: row;
}
.overview-description {
  flex-direction: column;
  padding-right: 20%;
  width: 60%;
  align-items: start;
}
.overview-img {
  background-image: url(../img/portfolio/iphone.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 40%;
  margin-top: 0;
}

/* section2 */
#section2-portfolio {
  background-color: #fff;
  flex-direction: column;
}
#section2-portfolio .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section2-portfolio .container .col-12{
  align-items: center;
}

/* section3 */
#section3-offer {
  background-color: #4e61c0;
  color: #fff; 
  flex-direction: column;
}
.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer-title {
  padding: 10px 0 0 0;
  margin: 0 0 3px 0;
  font-weight: 700;
}
.offer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #4e61c0;
  font-size: 2em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

/* section4 */
#section4-servicies .container {
  flex-direction: column;
}
.portfolio-container {
  display: flex;
  flex-direction:column;
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
}
.portfolio-border {
  border: none;
  transition: all 0.5s ease-out;
}
.portfolio-container:hover .portfolio-border {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border: 40px solid #fff;
}
.portfolio-container img {
  background-size: cover;
  filter: brightness(70%);
  position: relative;
  z-index: 1;
  width: 100%;
}
.portfolio-text-area {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#footer .container {
  display: flex;
  flex-direction: row;
  padding: 0 30%;
}
.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 1em 0.5em;
  background: #4e61c0;
  font-size: 1.5em;
  color: #fff;
}


@media screen and (max-width : 992px) {
  #section1-overview {
    height: 70vh;
  }
  #section1-overview .container {
    flex-direction: column;
  }
  #section1-overview .overview-description {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  #section1-overview .overview-img {
    background-size: contain;
    width: auto;
    height: 100%;
    margin-top: 2vh;
  }
}
