@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: "Open Sans", sans-serif;
}

section, div {
  display: flex;
}
section {
  justify-content: center;
}
body {
  background-color: #F7F9FC;
}
button {
  width: 100px;
  height: 40px;
  background-color: #70B9F7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

/* overview */
#overview .container {
  background-color: #fff;
  box-shadow: 2px 2px 4px #D2D7DD;
  border-radius: 5px;
  margin-top: 8vh;
  padding: 30px;
}
#main-info-container {
  align-items: center;
  border-right: 1px solid #D2D7DD;
}
#main-info {
  flex-direction: column;
}
#name {
  margin: 0 0  1px 0;;
}
#position {
  margin: 0 0  1px 0;
}
#location {
  color: #70B9F7;
  margin: 0 0 10px 0;
}
#details-info-container {
  justify-content: center;
  align-items: center;
}
#details-info-container table {
  width: 90%;
}
#details-info-container table tr {
  height: 35px;
}


/* profile */
#profile {
  margin-top: 8vh;
}
.nn-nav-link {
  background-color: #F7F9FC;
  color: #70B9F7;
}