@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: "Open Sans", sans-serif;
}

section, div {
  display: flex;
}
section {
  justify-content: center;
}
body {
  background-color: #F7F9FC;
}
button {
  width: 100px;
  height: 40px;
  background-color: #70B9F7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

/* Common */
.white-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px #eceef1;
}

/* overview */
#overview .container {
  margin-top: 8vh;
}
#main-info-container {
  align-items: center;
  border-right: 1px solid #D2D7DD;
}
#main-info {
  flex-direction: column;
}
#name {
  margin: 0 0  1px 0;;
}
#position {
  margin: 0 0  1px 0;
}
#address {
  color: #70B9F7;
  margin: 0 0 10px 0;
}
#details-info-container {
  justify-content: center;
  align-items: center;
}
#details-info-container table {
  width: 90%;
}
#details-info-container table tr {
  height: 35px;
}


/* profile */
#profile {
  margin-top: 8vh;
}
#profile-container {
  flex-direction: column; 
}
.nn-nav-tabs {
  border-bottom-width: 2px;
}
.nav-tabs .nn-nav-link, .nav-tabs .nn-nav-link.active {
  background-color: #F7F9FC;
  color: #70B9F7;
  font-weight:600;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #70B9F7; 
}
#profileTabContent .container{
  flex-wrap:nowrap;
}
.title {
  font-size: 1.5em;
  text-transform: uppercase;
}
.nn-tab-pane {
  width: 100%; 
}
.tab-item {
  margin: 5px;
}
#left {
  flex-direction: column;
  height: 30vh;
}

#left ul {
  padding: 0;
  margin: 0;
}
#left li {
  list-style-type: none;
}
#middle {
  flex-direction: column;
  height: 50vh;
}
.about-container, .skills-container{
  flex-direction: column;
}
.about-container {
  padding-bottom: 60px;
  border-bottom: 1px solid var(--bs-border-color);
}
.skills-container{
  padding-top: 25px;
}
#badges span {
  padding: 10px;
  margin: 0 5px;
}
#badges span:first-child {
  margin-left:0;
}
#right {
  flex-direction: column;
  margin:0;
  padding: 0;
}
#right-top {
  width: 100%;
}
#linkout-container {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#linkout-img {
  text-align: center;
}
#linkout-img i {
  color: #70B9F7;
  font-size: 5em;
}
#linkeout-des {
  margin-top: 5px;
  color: #70B9F7;
}
#people-container {
  flex-direction: column;
}
#right-bottom{
  margin: 20px;
}
#people-title {
  border-bottom: 2px solid var(--bs-border-color);
  padding: 10px;
}
.nn-card{
  flex-direction: row;
  align-items: center;
} 
.nn-card img {
  width: 30%;
  height: fit-content;
}
.nn-card-body {
  flex-direction: column;
}
.nn-card-body p{
  margin: 0;
  padding: 0;
}
.card-text.name {
  font-weight: 600;
}
.card-text.address {
  color: #70B9F7; 
}

@media screen and (max-width : 992px) {
  #main-info-container {
    border: none;
  }
  #profileTabContent .container {
    flex-wrap: wrap;
  }
  #right-bottom {
    display: none;
  }
}